<!DOCTYPE html>
<html>
    <head>
        <title>
            App Test
        </title>
        <link rel="stylesheet" href="static/css/main.css">
        <link red="stylsheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <div class="centered">
            <div>
                <div id="app3" class="box cloud"></div>
            </div>
            <div>
                <div id="app1" class="box app">App1</div>
                <div id="app2" class="box app">App2</div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/leader-line-new@1.1.9/leader-line.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>